html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  margin: 0;
  font-family: "Fredoka One", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #343C43;
}

.game-field {
  margin: 50px auto 50px;
  padding: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 780px;
  border-radius: 4px;
  background-color: #2F373E;
}

.game-field__tile {
  margin: 20px;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  height: 130px;
  border-radius: 2px;
}

.card_back {
  background-image: linear-gradient(225deg, #227CD8 0%, #BE328A 100%);
  -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.18);
          box-shadow: 0 0 10px 0 rgba(0,0,0,0.18);
  border-radius: 2px;
}

.card_front {
  font-size: 70px;
  background-color: white;
  text-align: center;
}

.card_matched {
  opacity: .8;
  border: 2px solid #32CE56;
}

.game-name,
.time-limit {
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  text-transform: uppercase;
}

.game-name {
  margin-top: 70px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal_show {
  display: block;
}

.game-results {
  position: absolute;
  top: 37%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fefefe;
  padding: 25px;
  border: 1px solid #888;
  width: 450px;
  text-align: center;
}

.game-results__button {
  margin-top: 25px;
  margin-bottom: 10px;
  padding: 8px 30px;
  font-family: "Fredoka One", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto";
  text-transform: uppercase;
  font-size: 16px;
  color: white;
  background-color: #139AE9;
  border: none;
}

.game-results__button:hover {
  background-color: #0D85CB;
}

.game-results__title { 
  font-size: 30px;
}